# Node
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Env & Secrets
.env
.env.local
.env.production
*.local

# macOS
.DS_Store

# Next.js
website/.next/
website/out/
website/node_modules/

# Test coverage
coverage/
